header {
  text-align: center;
  background-color: darkgrey;
}

#searchBtn {
  background-color: blue;
}

#currentCityName {
  padding: 10px;
}

.forecastTile {
  background-color: rgb(83, 136, 248);
  color: white;
}
